[Desktop Entry]
Name=ApiPost-Rs
Comment=A Postman alternative built with Rust and gpui
Exec=apipost-rs
Icon=apipost-rs
Type=Application
Categories=Development;
Keywords=API;HTTP;REST;Postman;Testing;
Terminal=false
StartupWMClass=apipost-rs
